* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
}

#score {
  position: absolute;
}

#player, #layer1, #layer2, #layer3, #alien-image {
  display: none;
}

#pri-container {
  position: relative;
  display: inline-block;
}

#sec-container {
  position: absolute;
  display: flex;
  padding: 20px;
  width: 100%;
}

#lives-counter {
  position: absolute;
  /* background-color: yellow; */
  color: white;
  height: 30px;
  width: 100px;
  left: 50px;
  top: 50px;
}

h2 {
  font-family: 'Press Start 2P', cursive;
  color: white;
}

#score-counter {
  position: absolute;
  /* background-color: red; */
  height: 30px;
  width: 100px;
  left: 30px;
  top: 50px;
}
