* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: grey;
}


#Pri-container {
  position: relative;
}


#lives-counter {
  background-color: yellow;
  height: 30px;
  width: 100px;
}

#enemy-counter {
  position: absolute;
  background-color: red;
  height: 30px;
  width: 100px;
  right: 0;
}
